@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap');
.sin{
  padding: 5px 0px;
}
.sin-header{
  display: flex;
  flex-direction: row;
  align-items:baseline;
  justify-content: space-between;
  margin: 1px 70px;
}
.sin-header-title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 50px;
}
/* content */
.sin-content{
  background-repeat: no-repeat;
  background-size:cover;
  padding: 100px;
  display: flex;
  background-color: rgb(6, 18, 18);
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1380&t=st=1698648078~exp=1698648678~hmac=508be399802bebc59123e436236e37c42e8fe154ea8b9c1f1d61249f4b78c4a7");
}
.sin-content-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sin-content-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgb(255, 255, 255);
  width: 400px;
  height: 500px;
  padding: 50px;
  border-radius: 20px;
  margin-right: 15%;
}
.sin-content-form-title{
  font-family: 'Playpen Sans', cursive;;
}
.sin-content-form-username{
  width: 300px;
  padding: 15px;
  font-size: 18px;
  margin: 10px;
}
.sin-content-form-btn{
  width: 335px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  background-color: rgb(110, 154, 235);
  border: none;
}
.sin-content-form-btn:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 63, 63);
}
.sin-content-form-btn:active{
  background-color: rgba(1, 63, 63, 0.8);;
}
.sin-content-form-try{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 330px;
}
.sin-content-form-try-pass:hover{
  color: rgb(122, 58, 122);
  cursor: pointer;
}
.sin-content-form-sup{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}